.content {
    width: 100%;
    position: relative;
    .grid {
        display: grid;
        gap: rem(0.75);
    }
    h1,
    p {
        text-align: center;
    }
    p {
        max-width: rem(32);
        margin: 0 auto;
    }
}

@media (min-width: $from-small) {
    .content {
        .grid {
            gap: rem(1);
        }

        p {
            max-width: rem(42);
        }
    }
}

@media (min-width: $from-medium) {
    .content {
        p {
            max-width: rem(62);
        }
    }
}
