.hero {
    width: 100%;
    position: relative;
    .grid {
        display: grid;
        gap: rem(0.75);
        margin: rem(9) auto 8vh;
    }
    .grid_image {
        width: 100%;
    }
    h1,
    p {
        text-align: center;
    }
    p {
        max-width: rem(24);
        margin: 0 auto;
    }
}

@media (min-width: $from-small) {
    .hero {
        .grid {
            gap: rem(1);
            margin: rem(13) auto 14vh;
        }

        p {
            max-width: rem(32);
        }
    }
}

@media (min-width: $from-medium) {
    .hero {
        p {
            max-width: rem(48);
        }
    }
}

section {
    width: 100%;
    height: 75vh;
}
