.hero {
    width: 100%;
    position: relative;
    .grid {
        display: grid;
        gap: rem(0.75);
        padding: rem(9) 0 rem(3.5);
        will-change: opacity, transform;
    }
    h1,
    p {
        text-align: center;
    }
    p {
        max-width: rem(24);
        margin: 0 auto;
    }
}

@media (min-width: $from-small) {
    .hero {
        min-height: 100vh;
        .grid {
            gap: rem(1);
            padding: rem(13) 0 rem(10);
        }
        p {
            max-width: rem(32);
        }
    }
}

@media (min-width: $from-medium) {
    .hero {
        p {
            max-width: rem(48);
        }
    }
}
