.hero {
    .grid {
        div {
            margin-top: rem(1);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: rem(0.75);
            p {
                text-transform: uppercase;
                padding: rem(0.75) rem(1.5);
                line-height: 1.2;
                border-top: 1px solid $color-green-2;
                border-bottom: 1px solid $color-green-2;
                font-size: rem(1.1);
                &:first-of-type {
                    letter-spacing: rem(0.1);
                }
                &:last-of-type {
                    color: $color-white;
                    font-weight: 700;
                    background: $color-green-2;
                }
            }
        }
    }
    .model {
        width: 100%;
        height: 900vh;
        position: relative;
        div {
            width: 100%;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            position: sticky;
            top: 0;
        }
        canvas {
            width: 100%;
            min-height: 100vh;
            max-height: 100vh;
            aspect-ratio: 16 / 9;
            object-fit: cover;
            position: relative;
            z-index: 5;
        }
        .circle {
            display: block;
            width: 100%;
            max-width: 75vh;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0.5);
            transform-origin: center center;
            background: $color-green-3;
            aspect-ratio: 1;
            opacity: 0;
        }
        .text1 {
            position: absolute;
            bottom: 5%;
            left: 5%;
            text-align: left;
            line-height: 1.4;
            z-index: 10;
            transform: translateY(150%);
            opacity: 0;
            padding-left: rem(2);
            color: $color-dark;
            span {
                display: block;
                width: 4px;
                height: 120%;
                background: $color-green-3;
                position: absolute;
                top: -10%;
                left: 0;
                transform: scaleY(0);
                transform-origin: top;
            }
        }
        .text2,
        .text3 {
            color: $color-dark;
            position: absolute;
            bottom: 5%;
            right: 5%;
            text-align: left;
            font-size: rem(1.5);
            line-height: 1.2;
            z-index: 10;
            opacity: 0;
        }
        .gradient {
            display: block;
            width: 100%;
            height: 25vh;
            background: linear-gradient(to top, $color-white, transparent);
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 15;
            opacity: 0;
        }
    }
}

@media (min-width: $from-small) {
    .hero {
        .grid {
            div {
                p {
                    font-size: rem(1.4);
                }
            }
        }
        .model {
            .text2,
            .text3 {
                font-size: rem(3);
            }
        }
    }
}

@media (min-width: $from-medium) {
    .hero {
        .grid {
            div {
                margin-top: rem(1.75);
            }
        }
        .model {
            .text1 {
                font-size: rem(2);
            }
            .text2,
            .text3 {
                font-size: rem(3.5);
            }
        }
    }
}

// .hero {
//     .grid {
//         padding: rem(9) 0 rem(3.5);
//     }
//     p {
//         max-width: rem(24);
//     }
// }

// @media (min-width: $from-small) {
//     .hero {
//         .grid {
//             padding: rem(13) 0 rem(10);
//         }
//         p {
//             max-width: rem(32);
//         }
//     }
// }

// @media (min-width: $from-medium) {
//     .hero {
//         p {
//             max-width: rem(48);
//         }
//     }
// }
