.image {
    width: 100%;
    height: 95%;
    margin: 0 auto;
    position: relative;
    div {
        position: absolute;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        transform-origin: bottom center;
        will-change: transform;
        &:first-of-type {
            width: 65%;
            height: 100%;
            top: 0;
            left: 17.5%;
            opacity: 1;
            z-index: 7;
            border-radius: rem(0.2);
        }
        &:nth-of-type(2) {
            width: calc(65% + 2rem);
            height: calc(100% + 1rem);
            top: rem(-1);
            left: calc(17.5% - 1rem);
            opacity: 0.8;
            z-index: 6;
            border-radius: rem(0.4) rem(0.4) 0 0;
        }
        &:nth-of-type(3) {
            width: calc(65% + 4rem);
            height: calc(100% + 2rem);
            top: rem(-2);
            left: calc(17.5% - 2rem);
            opacity: 0.6;
            z-index: 5;
            border-radius: rem(0.6) rem(0.6) 0 0;
        }
        &:nth-of-type(4),
        &:nth-of-type(5),
        &:nth-of-type(6),
        &:nth-of-type(7) {
            display: none;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
}

@media (min-width: $from-small) {
    .image {
        height: 100%;
        div {
            &:first-of-type {
                border-radius: rem(0.625);
            }
            &:nth-of-type(2) {
                border-radius: rem(1.625) rem(1.625) 0 0;
            }
            &:nth-of-type(3) {
                border-radius: rem(2.625) rem(2.625) 0 0;
            }
            &:nth-of-type(4) {
                display: block;
                width: calc(65% + 6rem);
                height: calc(100% + 3rem);
                top: rem(-3);
                left: calc(17.5% - 3rem);
                opacity: 0.4;
                z-index: 4;
                border-radius: rem(3.625) rem(3.625) 0 0;
            }
            &:nth-of-type(5) {
                display: block;
                width: calc(65% + 8rem);
                height: calc(100% + 4rem);
                top: rem(-4);
                left: calc(17.5% - 4rem);
                opacity: 0.2;
                z-index: 3;
                border-radius: rem(4.625) rem(4.625) 0 0;
            }
            &:nth-of-type(6) {
                display: block;
                width: calc(65% + 10rem);
                height: calc(100% + 5rem);
                top: rem(-5);
                left: calc(17.5% - 5rem);
                opacity: 0.1;
                z-index: 2;
                border-radius: rem(5.625) rem(5.625) 0 0;
            }
            &:nth-of-type(7) {
                display: block;
                width: calc(65% + 12rem);
                height: calc(100% + 6rem);
                top: rem(-6);
                left: calc(17.5% - 6rem);
                opacity: 0.05;
                z-index: 1;
                border-radius: rem(6.625) rem(6.625) 0 0;
            }
        }
    }
}
